body {
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
header{
    height: 100px;
}
.nt_container{
    height: 35px;
    background-color: black;
}
.nt_container img{
    width: 80px;
}

#id_jumbotron{

}
.bottom{
    margin-bottom:px;
}
.jb_container{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height:700px
}
.jb_container img{
    width: 300px;
}
.butt_jb{
    background-color: rgba(250, 96, 0, 0.955) ;
}
.jb_img_container{
    margin-top: 20px;
    height: 530px;
    /* background-color: aqua; */
}
.jb_img-items{}

.it_take-container{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.nu_container{
    background-color: black;
}
#id_playstation-plus{
    background-color: rgba(96, 96, 96, 0.085);
}
#id_psnow{
    background-color: rgb(35, 35, 144);
}