img{
    width: 100%;
}
.nt_container{
    height: 35px;
    background-color: black;
}
.nt_container img{
    width: 80px;
}

#id_jumbotron{

}
.jb_container{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height:700px
}
.jb_container img{
    width: 300px;
}
.butt_jb{
    background-color: rgba(250, 96, 0, 0.955) ;
}
.jb_img_container{
    margin-top: 20px;
    height: 230px;
    /* background-color: aqua; */
}
